{% extends "layout.html" %}
{% block content %}
  <form action="/saved_file/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    Filepath: {{ file_path }}
    <input type="hidden" name="file_path" value="{{ file_path }}">
    <label for="song_title">Songtitel</label>
    <input id="song_title" type="text" value="{{ file.name }}" name="title">
    <label for="song_length">Songgröße</label>
    <input id="song_length" type="text" value="{{ file.size }}" name="length">
    <label for="song_artist">Artist</label>
    <input id="song_artist" type="text" name="artist">
    <button type="submit">Song speichern</button>
  </form>
{% endblock content %}