{% extends "layout.html" %}
{% block content %}
  <div id="form-wrapper">
    <form action="{{ action }}" method="POST" enctype="multipart/form-data" class="generic-form">
      {% csrf_token %}
      {% if image %}
        <img src="{{ image.url }}" alt="image associated with item">
      {% endif %}
      {{ form.as_p }}
      {% for name, value in hidden_fields %}
        <input type="hidden" name="{{ name }}" value="{{ value }}">
      {% endfor %}
      <button type="submit" class="primary-button">{{ button_label }}</button>
      {% if upload_tracks %}
        <button
            id="upload-track-button" class="secondary-button"
            formaction="{% url 'create_track' %}" formmethod="GET" type="submit">
          Tracks hochladen
        </button>
      {% endif %}
      <a id="back-link" class="button-anchor back-button" href="{{ request.META.HTTP_REFERER }}">Zurück</a>
    </form>
  </div>
{% endblock content %}