<li class="library-item">
  <a class="update-playlist" href="{% url 'update_playlist' playlist.id %}">
    <img class="library-thumbnail" src="{{ playlist.thumbnail_file.url }}" alt="{{ playlist.name }}">
    {#    <span>Editieren</span>#}
    <div class="svg-icon mirrored icon-small">
      {% include 'icons/icon_edit.svg' %}
    </div>
  </a>
  <div class="contour">
    {% include 'icons/contour_circle.svg' %}
  </div>
  <a class="delete-playlist" href="{% url 'delete_playlist' playlist.id %}">
    {#    <span>X</span>#}
    <div class="svg-icon">
      {% include 'icons/icon_delete.svg' %}
    </div>
  </a>
</li>
