asgiref==3.4.1
da-vinci==0.3.0
Deprecated==1.2.13
Django==3.2.9
django-appconf==1.0.5
django-compressor==2.4.1
django-livesync==0.5
django-sass-processor==1.1
django-thumbnails==0.6.0
django3-livesync==1
giofile==0.2.0
libsass==0.21.0
mutagen==1.45.1
Pillow==8.4.0
psycopg2-binary==2.9.2
pyaudiotools==3.2a2
pycairo==1.20.1
PyGObject==3.42.0
python-dotenv==0.19.2
python-magic==0.4.24
pytz==2021.3
rcssmin==1.0.6
redis==4.0.2
rjsmin==1.1.0
shortuuid==1.0.8
six==1.16.7
sqlparse==0.4.3
tinytag==1.6.0
tornado==6.1
watchdog==2.1.6
websocket-client==1.2.1
wrapt==1.13.3
