{% extends "base.html" %}
{% block main %}
  <ul id="audiobooks" class="main-grid">
    {% for audiobook in audiobooks %}
      {% include 'components/audiobook-item.html' %}
    {% endfor %}
    {% include 'components/audiobook-item-new.html' %}
  </ul>
{% endblock main %}
{% block footer %}
  {% include 'components/page-link.html' with id='library-link' link_url='library' icon='icons/icon_listen.svg' %}
  <h1>Hörbücher bearbeiten</h1>
  {% include 'components/page-link.html' with id='account-link' link_url='account' icon='icons/icon_user.svg' %}
{% endblock footer %}