{% extends "base.html" %}
{% block main %}
  {% if not audiobooks %}
    <div class="info-text">
      <div>
        <p>Du hast keine Audiobooks in deiner Bibliothek.</p>
        <p>Klicke auf den Button unten links um welche zu erstellen!</p>
      </div>
    </div>
  {% else %}
    <ul id="library" class="main-grid">
      {% for audiobook in audiobooks %}
        {% include 'components/library-item.html' %}
      {% endfor %}
    </ul>
  {% endif %}
{% endblock main %}
{% block footer %}
  {% include 'components/page-link.html' with id='audiobooks-link' link_url='audiobooks' icon='icons/icon_edit.svg' %}
  <h1>Willkommen {{ request.user }}!</h1>
{% endblock footer %}
