{% extends "base.html" %}
{% block main %}
  <ul id="library" class="main-grid">
      {% for playlist in playlists %}
        {% include 'components/library-item.html' %}
      {% endfor %}
  <p>Willkommen {{ request.user }}!</p>
  {% if not playlists %}<p>du hast keine Playlists in deiner Bibliothek,
      <br>klicke auf den Button unten links um welche zu erstellen</p>{% endif %}
  </ul>
{% endblock main %}
{% block footer %}
  {% include 'components/page-link.html' with id='playlists-link' link_url='playlists' icon='icons/icon_edit.svg' %}
{% endblock footer %}
