{% extends "base.html" %}
{% block main %}
    <p>Wir haben Ihnen die Anweisungen zum Zurücksetzen Ihres Passworts an Ihre Email Adresse geschickt,
    falls ein Speel Account mit der eingegebene Email Adresse existiert</p>
    <p>Falls Sie keine Email erhalten haben, überprüfen Sie die eingegebene Email Adresse und
    überprüfen Sie Ihren Spam Ordner</p>
    <p>Der Link ist 24h lang gültig</p>
{% endblock main %}
{% block footer %}
  {% include 'components/page-link.html' with link_url='login' icon='icons/icon_exit.svg' %}
{% endblock footer %}