{% extends "forms/base.html" %}
{% block form %}
  <div>
    {% for message in messages %}
      <p id="messages">{{ message }}</p>
    {% endfor %}
  </div>
  {{ form.as_p }}
  <button type="submit" formaction="{% url 'login' %}">
    Anmelden
  </button>
    <div>
        Du hast noch keinen Account? <a href="{% url 'register' %}">Registrieren</a>
    </div>
    <div>
        Passwort vergessen? <a href="{% url 'password_reset' %}">Passwort zurücksetzen</a>
    </div>
{% endblock form %}

{% block footer %}{% endblock %}