{% extends "forms/base.html" %}
{% block form %}
  <h2>Accountdaten ändern</h2>
  {{ form.username.errors }}
  {{ form.username.label_tag }}
  {{ form.username }}

  {{ form.email.errors }}
  {{ form.email.label_tag }}
  {{ form.email }}
  <button type="submit" formaction="{% url 'account' %}">
    Accountdaten speichern
  </button>
{% endblock form %}

{% block footer %}
  {% include 'components/page-link.html' with id='audiobooks-link' link_url='audiobooks' icon='icons/icon_edit.svg' %}
  <h1>Accountdaten ändern</h1>
  {% include 'components/logout-form.html' %}
{% endblock footer %}