{% extends "forms/base.html" %}
{% block form %}
  {{ form.username.label }}
  {{ form.username }}

  {{ form.email.label }}
  {{ form.email }}

  {{ form.password1.label }}
  {{ form.password1 }}

  {{ form.password2.label }}
  {{ form.password2 }}
  <button type="submit" formaction="{% url 'login' %}">
    Registrieren
  </button>
  Hast du bereits einen Account?
    <div>{{ form.errors }}</div>
   {% include 'components/page-link.html' with link_url='login' icon='icons/icon_exit.svg' %}
{% endblock form %}

{% block footer %}<h1>Registrierung</h1>{% endblock %}