{% extends "forms/base.html" %}
{% block form %}
  {{ form.as_p }}
  <button type="submit" formaction="{% url 'update_playlist' playlist_id %}">
    Änderungen speichern
  </button>
  <button type="submit" formaction="{% url 'delete_playlist' playlist_id %}">
    Playliste löschen
  </button>
{% endblock form %}

{% block footer %}
  {% include 'components/page-link.html' with link_url='playlists' icon='icons/icon_edit.svg' %}
  <h1>Playlist anpassen</h1>
  <div class="empty"></div>
{% endblock footer %}