{% extends "forms/base.html" %}
{% block form %}
  <label id="image-label" for="id_image" class="custom-file-upload">
    <img id="update-playlist-thumbnail" src="{{ playlist.image.url }}" alt="">
    <span>Bild ändern</span>
    <input name="image" type="file" accept="image/*" id="id_image"/>
  </label>

  <label for="id_name">Name ändern:</label>
  <input type="text" name="name" value="{{ form.name.value | default_if_none:"" }}"
         maxlength="30" required="" id="id_name">

  <div id="track-list">
    {% for track in playlist.tracks.all %}
      <p>{{ track.title }}</p>
    {% endfor %}
  </div>
  <p>
    <label for="id_tracks">Alle Tracks ersetzen</label>
    <input type="file" name="tracks" multiple="" id="id_tracks">
  </p>

  <button type="submit" formaction="{% url 'update_playlist' playlist_id %}">
    Hörbuch speichern
  </button>
  <button type="submit" class="warning-button" formaction="{% url 'delete_playlist' playlist_id %}">
    Hörbuch löschen
  </button>
{% endblock form %}

{% block footer %}
  {% include 'components/page-link.html' with link_url='playlists' icon='icons/icon_edit.svg' %}
  <h1>Audiobook anpassen</h1>
  <div class="empty"></div>
{% endblock footer %}