/* BASE LAYOUT */
body {
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-rows: 1fr max-content;
  padding: 3rem;

  & > footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
