@import 'variables';
@import '_mixins';

#form-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;

  form {
    width: 24rem;
    max-height: 100%;
    overflow: hidden;

    margin: auto;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    place-items: center;

    background: white;
    text-align: left;

    > * {
      width: 20rem;
      margin: 0;
    }

    label,
    a {
      margin-top: 0.5rem;
    }

    button {
      width: 20rem;
      height: 3rem;
      margin-top: 1rem;

      background: $color-primary;
      color: $color-text-bright;
      font-size: 1.5rem;
    }

    a{
      color: $color-primary;
    }
  }
}

/* update-audiobook-form */
#image-label {
  display: grid;
  text-align: center;

  color: $color-text-bright;
  font-weight: 600;
  font-size: 1.5rem;

  > * {
    margin: auto;
    grid-area: 1 / 1;
  }

  #update-audiobook-thumbnail {
    width: $grid-item-diameter;
    height: $grid-item-diameter;
    object-fit: cover;
    border-radius: 50%;
  }

  #create-audiobook-thumbnail {
    width: $grid-item-diameter;
    height: $grid-item-diameter;
    object-fit: cover;
    border-radius: 50%;
  }
}

#id_image {
  display: none;
}

#track-list {
  flex-basis: 3.5em;
  //flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 100%;
  //height: 100%;

  scrollbar-width: thin;

  > * {
    margin: 0;
    //min-height: 0;
  }
}