/* LAYOUT */
#howler {
  width: 100%;
  height: 100%;
  max-height: 90vh;
  max-width: 70vw;
  display: grid;
  place-items: center;
  //place-content: center;
  overflow: visible;

  img, #controls {
    grid-area: 1 / 1 / 1 / 1;
  }

  img {
    object-fit: cover;
    aspect-ratio: 1 / 1;
    max-height: 100%;
    width: 60%;
    border-radius: 50%;
  }


  #controls {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    place-content: center;
    place-items: center;

    > * {
      aspect-ratio: 1 / 1;
    }

    button {
      /*RESET*/
      cursor: pointer;
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      outline: inherit;

      width: 100%;

      svg {
        fill: white;
        width: 70%;
        //height: 150px;
      }
    }

    #play-pause {
      display: grid;
      width: 100%;

      > * {
        grid-area: 1 / 1;
      }
    }

    #skip-back-button, #skip-forward-button {
      background-color: #04414d;
      border-radius: 50%;
    }
  }
}

#pause-button {
  display: none;
}
