/* LAYOUT */
#howler {
  width: 40rem;
  height: 30rem;
  display: grid;
  grid-template-areas:
    "title"
    "controls";
  //justify-content: stretch;
  place-items: center;

  #title {
    grid-area: title;
  }

  #controls {
    grid-area: controls;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    gap: 16px;

    #play-pause {
      width: 300px;
      border-radius: 50%;

      display: grid;

      > * {
        grid-area: 1 / 1;
        border-radius: 50%;

      }
    }

    #skip-back-button, #skip-forward-button {
    width: 150px;
    height: 150px;
    background-color: #04414d;
    //place-items: center;
    border-radius: 50%;
    }
  }
}


/* STYLING */

#howler {
  padding: 0;
  margin: 0;
  overflow: hidden;

  * {
    font-family: "Helvetica Neue", "Futura", "Trebuchet MS", Arial, sans-serif;
    user-select: none;
    text-align: center;
    font-size: xx-large;
    opacity: 0.9;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
  }


  /* CONTROLS */
  button {
    /*RESET*/
    cursor: pointer;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;

    svg {
      fill: white;
      width: 70%;
      //height: 150px;
    }
  }

  #play-button {
  }

  #pause-button {
    display: none;
  }

}