@mixin circular {
  aspect-ratio: 1 / 1;
  //width: 100%;
  border-radius: 50%;
}

@mixin children-overlap {
  display: grid;
  > * {
    grid-area: 1 / 1 / 1 / 1;
  }
}

/* PLAYER */
#player-wrapper {
  @include children-overlap;

  place-items: center;
  place-content: center;

  height: 100vh;

  overflow: hidden;

  & > * {
    position: relative;
  }

  svg {
    max-height: 100vh;
    max-width: 80vw;
  }
}

#pause-button {
  display: none;
}

#playlist-background {
  width: 120vw;
  filter: blur(20px) saturate(0.3);
}

#playlist-image {
  @include circular;
  //object-fit: cover;
  //max-height: 80vh;
  //width: 48%;
  height: calc(min(60vh, 37vw));
}

#player-ear-left {
  transform-origin: 30% 50%;
}

#player-ear-right {
  transform-origin: 70% 50%;
}

#player-head {
  transform-origin: 50% 50%;
}

#player-hair {
  transform-origin: 50% 50%;
}

#player-hair,
#player-ear-left,
#player-ear-right,
#player-head {
  * {
    fill: white;
  }

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      transform: scale(1.03, 1.03);
    }

    &:active {
      transform: scale(0.95, 0.95);
    }
  }

  @media (hover: none) {
    &:active {
      transform: scale(1.06, 1.06);
    }
  }
}

#ear-right-clickzone,
#ear-left-clickzone,
#head-clickzone,
#hair-clickzone {
  cursor: pointer;
  fill: transparent;
}