@mixin circular {
  aspect-ratio: 1 / 1;
  width: 100%;
  border-radius: 50%;
}

@mixin children-overlap {
  display: grid;
  > * {
    grid-area: 1 / 1 / 1 / 1;
  }
}

/* PLAYER */
#player-wrapper {
  @include children-overlap;

  & > * {
    position: relative;
  }

  place-items: center;
  place-content: center;

  height: 100vh;

  overflow: hidden;
}

#pause-button {
  display: none;
}

#playlist-background {
  //@include circular;
  //object-fit: cover;
  width: 100%;
  filter: blur(20px) saturate(0.3);
}

#playlist-image {
  @include circular;
  //object-fit: cover;
  width: 48%;
}

#player-ear-left {
  transform-origin: 30% 50%;
}

#player-ear-right {
  transform-origin: 70% 50%;
}

#player-head {
  transform-origin: 50% 50%;
}

#player-hair {
  transform-origin: 50% 50%;
}

#player-hair,
#player-ear-left,
#player-ear-right,
#player-head {
  * {
    fill: white;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.03, 1.03);
  }

  &:active {
    transform: scale(0.95, 0.95);
  }
}

#ear-right-clickzone,
#ear-left-clickzone,
#head-clickzone,
#hair-clickzone {
  cursor: pointer;
  fill: transparent;
}