@import '_variables';
@import '_mixins';

/* PLAYER */
body {
  //padding: 0;
}


#player-wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  display: grid;

  #background-image {
    height: 100%;
    width: 100%;

    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;

    filter: blur(20px);
  }

  #player {
   max-height: 84vh;

    justify-self: center;
    align-self: center;
  }


  #player-home-link {
    position: absolute;
    width: 6rem;
    margin: 1rem;
    justify-self: center;
    align-self: end;
  }
}


#pause-button {
  display: none;
}

#player-ear-left {
  transform-origin: 30% 50%;
}

#player-ear-right {
  transform-origin: 70% 50%;
}

#player-head {
  transform-origin: 50% 50%;
}

#player-hair {
  transform-origin: 50% 50%;
}

#player-hair,
#player-ear-left,
#player-ear-right,
#player-head,
#player-home-link
{
  * {
    fill: white;
  }

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      transform: scale(1.03, 1.03);
      filter: brightness(1.2);
    }

    &:active {
      transform: scale(0.95, 0.95);
    }
  }

  @media (hover: none) {
    &:active {
      transform: scale(1.06, 1.06);
    }
  }
}

#ear-right-clickzone,
#ear-left-clickzone,
#head-clickzone,
#hair-clickzone {
  cursor: pointer;
  fill: transparent;
}