/* VARS */
$grid-item-diameter: 150px;
$sep-dist-l: 3em;
$sep-dist-m: 1.5em;
$color-secondary: #e16666;

@mixin circular {
  aspect-ratio: 1 / 1;
  width: 100%;
  border-radius: 50%;
}

@mixin children-overlap {
  display: grid;
  > * {
    grid-area: 1 / 1 / 1 / 1;
  }
}

/* RESET */
button {
  cursor: pointer;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}


/* MAIN LAYOUT */
#library-wrapper, #player-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: grid;
  padding: $sep-dist-l;
}

#library-wrapper {
  grid-template-rows: max-content 1fr;
  gap: $sep-dist-l;
  padding: $sep-dist-l 12em;
}

@media screen and (max-width: 780px) {
  #library-wrapper {
    padding: 9em $sep-dist-l;
  }
}

/* LIBRARY GRID FOR VIEW AND EDIT VIEWS*/
#library-grid {
  display: grid;
  justify-content: space-between;
  align-content: start;
  place-items: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, $grid-item-diameter);

  .library-item {
    width: $grid-item-diameter;
    //height: $grid-item-diameter;
    @include circular;
    @include children-overlap;
    place-items: center;
    color: white;

    img {
      @include circular;
      width: 100%;
    }

    .edit-playlist {
      @include children-overlap;
      place-items: center;

      font-size: 2rem;
      color: white;
      text-decoration-line: none;

      &:hover{
        background-color: rgba(255, 255, 255, 0.6);
        text-decoration-line: underline;
      }
    }

    .delete-playlist {
      @include circular;
      width: 3rem;

      align-self: start;
      margin-top: 5%;

      display: grid;
      place-items: center;

      background-color: rgba(255, 255, 255, 0.3);
      color: $color-secondary;
      font-size: 1.6rem;
      text-decoration-line: none;

      &:hover{
        background-color: rgba(255, 255, 255, 0.6);
      }
      //
      //span{
      //  width:100%;
      //  height:100%;
      //}
    }

    .play-playlist {
      //width: 100%;
      //height: 100%;
      //background-position: center;
      //display: grid;
      //place-items: center;
      //border-radius: 50%;
    }
  }
}

/* NAV BUTTONS TOP CORNERS */
#view-library, #edit-library, #logout-button {
  position: absolute;
  top: $sep-dist-l;
  display: grid;
  place-content: center;
  z-index: 3;
}

#view-library, #edit-library, #logout-button > button {
  width: $grid-item-diameter / 2;
  height: $grid-item-diameter / 2;
  border-radius: 50%;
  background-color: #b8435c;
  color: white;
}

#view-library, #edit-library {
  left: $sep-dist-l;
}

#logout-button {
  right: $sep-dist-l;
}

/* PLAYER */
#player {
  display: flex;

  #controls {
    margin: auto auto;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 4fr 1fr 2fr;
    align-content: center;
    align-items: center;

    #skip-back-button,
    #skip-forward-button,
    #play-pause {
      @include circular;
      background-color: $color-secondary;
      grid-row: 1;


      svg {
        fill: white;
        width: 70%;
      }
    }

    #play-pause {
      grid-column: 2 / span 3;
    }

    #skip-back-button {
      grid-column: 1 / span 2;
      z-index: 1;
    }

    #skip-forward-button {
      grid-column: -3 / span 2;
      z-index: 1;
    }

    #play-pause {
      display: grid;

      > * {
        grid-area: 1 / 1;
      }

      #pause-button {
        display: none;
      }

      img {
        object-fit: cover;
        @include circular;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    #controls {
      width: 928px;
    }
  }
}

/* GENERIC FORM */
#generic-form {
  display: grid;
  grid-auto-flow: row;
  place-content: center;
  width: 100%;
  height: 100%;

  * {
    min-width: calc(max(30vw, 20rem));
  }

  > p {
    display: grid;
    grid-auto-flow: row;
    gap: 4px;
  }

  .errorlist {
    list-style: none;
    padding: 0;
    color: #a52834;
  }

  button {
    font-size: 2em;
    height: 4rem;
    margin-top: 1rem;
  }
}
