/* VARS */
$grid-item-diameter: 150px;
$button-diameter: 75px;
$sep-dist-l: 3em;
$sep-dist-m: 1.5em;
$color-primary: #015d7e;
$color-secondary: #e16666;
$color-tertiary: #34748a;
$color-text-hover: #ffffff;
$color-background: #b2eacc;
$color-warning: #cb414d;

@use "resets";

@mixin circular {
  aspect-ratio: 1 / 1;
  width: 100%;
  border-radius: 50%;
}

@mixin children-overlap {
  display: grid;
  > * {
    grid-area: 1 / 1 / 1 / 1;
  }
}

@mixin hover {
  &:hover {
    filter: brightness(1.1);
    color: $color-text-hover;
  }
}

/* GENERIC STYLES */
.primary-button, .secondary-button {
  @include hover;

  color: white;
  font-size: 1.5rem;
  height: 3rem;
  margin-top: 1rem;
}

.button-anchor {
  @include hover;

  cursor: pointer;
  //background-color: $color-secondary;
  color: white;
  font-size: 1.5rem;
  height: 3rem;
  margin-top: 1rem;

  text-align: center;
  text-decoration-line: none;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > * {
    color: $color-text-hover;
  }
}


.button-small {
  @include children-overlap;
  @include circular;
  @include hover;

  width: $button-diameter;
  height: $button-diameter;

  position: relative;

  display: grid;
  place-content: center;
  place-items: center;

  text-decoration-line: none;

  button {
    @include hover;
    @include circular;
    width: $button-diameter;
    height: $button-diameter;

    position: relative;
    z-index: 5;

    vertical-align: center;
  }
}

.contour {
  position: relative;
  width: 110%;
  pointer-events: none;

  * {
    fill: $color-primary;
  }
}


/* MAIN LAYOUT */
#library-wrapper, #form-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: grid;
  padding: $sep-dist-l;
}

#library-wrapper {
  padding: 9em 9em;
}

@media screen and (max-width: 840px) {
  #library-wrapper {
    padding: 9em $sep-dist-l;
  }
}

/* NAV BUTTONS TOP CORNERS */
#view-library, #edit-library {
  z-index: 3;
  position: absolute;
  top: $sep-dist-l;
  left: $sep-dist-l;
}

#logout-button {
  z-index: 3;
  position: absolute;
  top: $sep-dist-l;
  right: $sep-dist-l;
}

/* LIBRARY GRID FOR VIEW AND EDIT VIEWS*/
#library-grid {
  display: grid;
  justify-content: space-between;
  align-content: start;
  place-items: center;
  column-gap: 2rem;
  row-gap: 4rem;
  padding: 0;
  grid-template-columns: repeat(auto-fill, $grid-item-diameter);

  .library-item {
    @include children-overlap;
    @include circular;
    width: $grid-item-diameter;
    place-items: center;
    color: white;

    img {
      @include circular;
      width: 100%;

    }

    .update-playlist {
      overflow: hidden;
      @include circular;

      img {
        width: 110%;
        margin: -10%;
        filter: blur(2px);
      }

      * {
        fill: white;
      }
    }
  }

  .update-playlist,
  .create-playlist,
  .play-playlist {
    @include children-overlap;

    @include hover;
    position: relative;

    place-items: center;

    font-size: 2rem;
    color: white;
    text-decoration-line: none;
  }

  .create-playlist {
    @include circular;
    width: $grid-item-diameter;
    font-size: 6rem;
    background: rgba(255, 255, 255, 0.5);

    span {
      margin: auto;
    }
  }

  .delete-playlist {
    @include circular;

    @include hover;
    position: relative;

    align-self: start;
    justify-self: end;
    width: 3rem;

    display: grid;
    place-items: center;

    background: $color-secondary;
    color: white;
    font-size: 1.6rem;
    font-weight: bolder;
    text-decoration-line: none;
  }
}

/* GENERIC FORM */
#generic-form {
  display: grid;
  grid-auto-flow: row;
  place-content: center;
  width: 100%;
  height: 100%;

  * {
    min-width: calc(min(30vw, 20rem));
  }

  > p {
    display: grid;
    grid-auto-flow: row;
    gap: 4px;
  }

  img {
    width: 50%;
    @include circular;
    margin: auto;
  }

  .errorlist {
    list-style: none;
    padding: 0;
    color: #a52834;
  }
}


/* COLOR STYLING */
body {
  background-color: $color-background;

  .button-small, .library-item {
    color: white;
  }
}

#edit-library a,
#view-library a,
#logout-button button {
  @include hover;
  text-decoration-line: none;
}

#logout-button {
  background-color: $color-tertiary;
}

.primary-button {
  background-color: $color-primary;
}

.secondary-button {
  background-color: $color-tertiary;
}

#edit-library {
  background-color: $color-secondary;
}

#view-library {
  background-color: $color-primary;
}

.back-button {
  background-color: $color-warning;
}

.delete-playlist {
  background-color: $color-warning;
}

.svg-icon {
  display: grid;
  place-items: center;
  position: relative;
  z-index: 3;

  &.mirrored {
    svg {
      transform: scaleX(-1);
    }
  }

  &.icon-small {
    svg {
      width: 70%;
    }
  }

  svg * {
    fill: white;
  }
}