{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}speel - Hörbuchspieler für Kinder{% endblock title %}</title>
  {% load static %}
  <link rel="icon" href="{% static 'favicon/favicon.ico' %}">
  <link href="{% static 'player/css/bootstrap-reboot.css' %}" rel="stylesheet" type="text/css"/>
  <link href="{% sass_src 'player/scss/theme.scss' %}" rel="stylesheet" type="text/css"/>
  {% block css %}{% endblock css %}
</head>
{% block body %}
  <body>
  <main>
    {% block main %}{% endblock %}
  </main>
  <footer>
    {% block footer %}{% endblock %}
  </footer>
  </body>
{% endblock body %}
</html>
