{% extends "layout.html" %}
{% block content %}
  <div id="library-wrapper">
    {% if view_library %}
      <a id="edit-library" class="button-small" href="{% url 'edit_library' %}">
        <div class="svg-icon mirrored icon-small">
          {% include 'icons/icon_edit.svg' %}
        </div>
      </a>
    {% else %}
      <a id="view-library" class="button-small" href="{% url 'view_library' %}">
        <div class="svg-icon">
          {% include 'icons/icon_listen.svg' %}
        </div>
      </a>
    {% endif %}
  <p>Hello, {{ request.user }}</p>
    <form id="logout-button" class="button-small" action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      <button name="logout" value="true">
        <span class="svg-icon icon-small">
          {% include 'icons/icon_exit.svg' %}
        </span>
      </button>
    </form>
    <ul id="library-grid">
      {% for playlist in playlists %}
        {% include item_template %}
      {% endfor %}
      {% include 'components/library-create-item.html' %}
    </ul>
  </div>
{% endblock content %}