{% extends "layout.html" %}
{% block content %}
  <div id="library-wrapper">
    {% if edit_library %}
      <a id="edit-library" href="{% url 'edit_library' %}">Editieren</a>
    {% else %}
      <a id="view-library" href="{% url 'view_library' %}">Playlists</a>
    {% endif %}
    <form id="logout-button" action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <button name="logout" value="true">Abmelden</button>
    </form>
    <main id="library-grid">
      {% for playlist in playlists %}
        {% include item_template %}
      {% endfor %}
    </main>
  </div>
{% endblock content %}