{% extends "layout.html" %}
{% load static %}
{% block content %}
  <div class="d-flex flex-column align-items-center">
  {% include "howler.html" %}
  <noscript>
    <p class="h3">{{ playlist.name }}</p>
    <ol>
      {% for song in songs %}
        <li>
          <a href="{% url 'playlist_to_play' playlist.id %}?song_id={{ song.id }}"
             class="d-block w-100 text-center h4">
            {{ song.title }}
          </a>
        </li>
      {% endfor %}
    </ol>
    <audio id="html_player" class="m-3 w-50"
           src="{{ song_to_play.audio_file.url }}"
           type="audio/{{ audios.Audio_File.type }}"
           controls></audio>
    <p class="h3">{{ song_to_play.title }}</p>
  </noscript>
  </div>
{% endblock content %}