{% extends "layout.html" %}
{% load static %}
{% block content %}
  <a id="view-library" class="button-small" href="{% url 'view_library' %}">
    <div class="svg-icon">
      {% include 'icons/icon_listen.svg' %}
    </div>
  </a>
  <div id="player-wrapper">
    <img id="playlist-background" src="{{ playlist.image }}" alt="background-image for playlist">
    <img id="playlist-image" src="{{ playlist.image }}" alt="{{ playlist.name }}">
    {% include 'components/player_complete_web.svg' %}
    {{ playlist|json_script:"playlist" }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"
            integrity="sha512-6+YN/9o9BWrk6wSfGxQGpt3EUK6XeHi6yeHV+TYD2GR0Sj/cggRpXr1BrAQf0as6XslxomMUxXp2vIl+fv0QRA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'player/js/script.js' %}" type="module"></script>
  </div>

{% endblock content %}
