{% extends "layout.html" %}
{% load static %}
{% block content %}
  <div id="player-wrapper">
    <a id="view-library" href="{% url 'view_library' %}">Playlists</a>
    <div id="player">
      <div id="controls">
        <button type="button" id="skip-back-button">{% include "icons/skip-back.html" %}</button>
        <div id="play-pause">
          <img id="playlist-image" src="{{ playlist.thumbnail_file }}" alt="{{ playlist.name }}">
          <button type="button" id="play-button">{% include "icons/play.html" %}</button>
          <button type="button" id="pause-button">{% include "icons/pause.html" %}</button>
        </div>
        <button type="button" id="skip-forward-button">{% include "icons/skip-forward.html" %}</button>
      </div>

      {{ playlist|json_script:"playlist" }}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"
              integrity="sha512-6+YN/9o9BWrk6wSfGxQGpt3EUK6XeHi6yeHV+TYD2GR0Sj/cggRpXr1BrAQf0as6XslxomMUxXp2vIl+fv0QRA=="
              crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="{% static 'player/js/script.js' %}" type="module"></script>
    </div>

  </div>
{% endblock content %}
