{% extends "login.html" %}
{% block form_block %}
    <h3 class="d-flex justify-content-center h-100">REGISTRIEREN</h3>
    {{ form.username.label }}
    {{ form.username }}

    {{ form.email.label }}
    {{ form.email }}

    {{ form.password1.label }}
    {{ form.password1 }}

    {{ form.password2.label }}
    {{ form.password2 }}
{% endblock form_block %}
{% block account_handling %}
  <div class="d-flex justify-content-center links">
      Hast du bereits einen Account? <a href="{% url 'login' %}" class="ml-2">Login</a>
  </div>
{% endblock account_handling %}